{% extends '_template.html.twig' %}

{% block title %}Modifier le produit {% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Modifier le produit</h1>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-half">
                {# Afficher le formulaire #}
                {{ form_start(produitForm) }}
                    {{ form_row(produitForm.name,{
                        label : 'Nom produit'
                    }) }}
                    {{ form_row(produitForm.short_description,{
                        label : 'Résumé'
                    }) }}
                    {{ form_row(produitForm.description, {
                        label : 'Description détaillée'
                    }) }}
                    {{ form_row(produitForm.price, {
                        label : 'Prix'
                    }) }}
                    <button type="submit" class="button is-success is-fullwidth">
                        Enregistrer
                    </button>
                    <a href="{{ path('modifier_produit_ajax', {id : produit.id}) }}" class="mt-2 button is-success is-fullwidth js-enregistrer">
                        Enregistrer avec Ajax
                    </a>
                {{ form_end(produitForm) }}

            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}

{# Surchager le block js #}
{% block js %}

    {# Charger Axios #}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Editer le produit
        function onClickEditProduit(event) {
            // désactiver la fonction par défaut (redirection) du lien "a"
            event.preventDefault();
            // récupérer l'url pour l'appeler nous même via ajax
            const href = this.href;
            console.log(href);
            const name = document.querySelector('#produit_form_name').value;
            const short_description = document.querySelector('#produit_form_short_description').value;
            const description = document.querySelector('#produit_form_description').value;
            const price = document.querySelector('#produit_form_price').value;
            const token = document.querySelector('#produit_form__token').value;

            let data = {
                name : name,
                short_description : short_description,
                description : description,
                price : price,
                _token : token
            }
            // Envoyer les données du formulaire à la route "modifier_produit_ajax"
            // window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token;
            axios({
                method:'post',
                data: data,
                url: href,
                headers: {'X-CSRF-TOKEN' : token}
            }).then(function(response) {
                // Créer l'élément du message avec la réponse du serveur
                let div_success = document.createElement('div');
                div_success.innerHTML = '<p class="notification is-info p-2 mt-2 has-text-centered" id="js-success">'+ response.data.message +'</p>';
                let form = document.querySelector('form[name="produit_form"]');
                form.appendChild(div_success);
                setTimeout(() => {
                    document.querySelector('#js-success').style.transition = '1s opacity';
                    document.querySelector('#js-success').style.opacity = 0;
                }, 2000);
                // Supprimer l'élément
                setTimeout(() => {
                    form.lastChild.remove();
                }, 3500);
            }).catch(function (error) {
                // Dans le cadre d'une erreur ou plusieurs

                // Créer l'élément du message avec la réponse du serveur
                let div_error = document.createElement('div');
                // Récupérer les messages d'erreurs
                let error_text = '';
                let data = error.response.data.message;
                console.log(data);
                console.log(error.response.data);
                for(let key in data) {
                    error_text += data[key] + '<br>';
                }
                div_error.innerHTML = '<p class="notification is-info p-2 mt-2 has-text-centered" id="js-error">'+ error_text +'</p>';
                let form = document.querySelector('form[name="produit_form"]');
                form.appendChild(div_error);
                setTimeout(() => {
                    document.querySelector('#js-error').style.transition = '1s opacity';
                    document.querySelector('#js-error').style.opacity = 0;
                }, 2000);
                // Supprimer l'élément
                setTimeout(() => {
                    form.lastChild.remove();
                }, 4000);
            })
        }
        const link = document.querySelector('a.js-enregistrer');
        link.addEventListener('click', onClickEditProduit);
    </script>

{% endblock %}
