{% extends '_template.html.twig' %}

{% block title %}Modifier le produit {% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title has-text-centered">Modifier le produit</h1>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-half">
                {# Afficher le formulaire #}
                {{ form_start(produitForm) }}
                    {{ form_row(produitForm.name,{
                        label : 'Nom produit'
                    }) }}
                    {{ form_row(produitForm.short_description,{
                        label : 'Résumé'
                    }) }}
                    {{ form_row(produitForm.description, {
                        label : 'Description détaillée'
                    }) }}
                    {{ form_row(produitForm.price, {
                        label : 'Prix'
                    }) }}
                    <button type="submit" class="button is-success is-fullwidth">
                        Enregistrer
                    </button>
                    <a href="{{ path('modifier_produit_ajax', {id : produit.id}) }}" class="mt-2 button is-success is-fullwidth js-enregistrer">
                        Enregistrer avec Ajax
                    </a>
                    <div>
                        <p class="notification is-invisible is-info p-2 mt-2 has has-text-centered" id="js-success"></p>
                    </div>
                {{ form_end(produitForm) }}

            </div>
            <div class="column"></div>
        </div>
    </div>
{% endblock %}

{# Surchager le block js #}
{% block js %}

    {# Charger Axios #}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        // Editer le produit
        function onClickEditProduit(event) {
            // désactiver la fonction par défaut (redirection) du lien "a"
            event.preventDefault();
            // récupérer l'url pour l'appeler nous même via ajax
            const href = this.href;
            console.log(href);
            const name = document.querySelector('#produit_form_name').value;
            const short_description = document.querySelector('#produit_form_short_description').value;
            const description = document.querySelector('#produit_form_description').value;
            const price = document.querySelector('#produit_form_price').value;
            const token = document.querySelector('#produit_form__token').value;

            let data = {
                name : name,
                short_description : short_description,
                description : description,
                price : price,
                _token : token
            }
            // Envoyer les données du formulaire à la route "modifier_produit_ajax"
            // window.axios.defaults.headers.common['X-CSRF-TOKEN'] = token;
            axios({
                method:'post',
                data: data,
                url: href,
                headers: {'X-CSRF-TOKEN' : token}
            }).then(function(response) {
                document.querySelector('#js-success').classList.toggle('is-invisible')
                document.querySelector('#js-success').textContent = response.data.message;
                setTimeout(() => {
                    document.querySelector('#js-success').style.transition = '1s opacity';
                    document.querySelector('#js-success').style.opacity = 0;
                    // document.querySelector('#js-success').classList.toggle('is-invisible')
                }, 1500)
            }).catch(function (error) {
                // Dans le cadre d'une erreur
                window.alert('Une erreur s\'est produite, réessayez plus tard')
            })
        }
        const link = document.querySelector('a.js-enregistrer');
        link.addEventListener('click', onClickEditProduit);
    </script>

{% endblock %}
